<div class="col-6">
  <%= simple_form_for(@entry, as: :entry, url: @entry.persisted? ? content_entry_path(@entry) : entries_path) do |f| %>
    <%= f.hidden_field :type, value: @entry.type %>

    <%= f.input :title %>

    <% @entry.class.content_attributes.each do |attr_name, attr_type| %>
      <% if attr_type == :wysiwyg %>
        <%= f.input attr_name, as: :text, input_html: { class: 'wysiwyg' } %>
      <% else %>
        <%= f.input attr_name, as: attr_type %>
      <% end %>
    <% end %>

    <a href="#" id="images-button" class="btn btn-primary">Add Images</a>

    <%= f.input :slug %>
    <%= f.input :author_name %>
    <%= f.input :published_at %>

    <%= f.submit "Save", class: "btn btn-primary" %>
  <% end %>

  <div class="modal" id="images-panel">
    <%= render partial: "wellspring/images/panel" %>
  </div>
</div>

<div class="col-6">
  <div id="live-preview" data-preview-url="<%= preview_path %>"></div>
</div>

<script>$('.wysiwyg').trumbowyg();</script>
